{
 'extends': ['stylelint-config-standard', 'stylelint-scss'],
 'rules':
  {
   'block-no-empty': true,
   'indentation',
   'comment-empty-line-before':
    ['always', { 'ignore': ['stylelint-commands', 'after-comment'] }],
   'max-empty-lines': 2,
   'unit-no-unknown': true,
   'color-no-hex': true,
   'color-no-invalid-hex': true,
   'font-family-no-duplicate-names': true,
   'property-no-unknown',
   'at-rule-no-unknown': [true, { ignoreAtRules: ['extend'] }],
  },
}
